<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <input type="text" id="searchBox" onkeyup="sendData(this)">
    
    <section id="search-result">
        
    </section>

    <script>
        function sendData(e)
        {
            let searchResults=document.getElementById("search-result");
            let match=e.value.match(/^[a-zA-Z]*/);
            let match2=e.value.match(/\s*/);
            if(match2[0]===e.value)
            {
                searchResults.innerHTML='';
                return;
            }
            if(match[0]===e.value)
            {
                fetch("search",{
                method:"POST",
                headers:{
                    "Content-Type": "application/json",
                },
                body:JSON.stringify({payload:e.value})
            }).then(res=>res.json()).then(data=>{
            let fruits=data.fruits;
            let results=data.results;
            console.log(fruits);
            console.log(data);
            searchResults.innerHTML='';
            fruits.forEach(function(fruit,index){
                if(index>0){
                    searchResults.innerHTML+="<hr>";
                }
                searchResults.innerHTML+="<p>"+fruit.name+"</p>";
            })
            results.forEach(function(result,index){
                searchResults.innerHTML+="<hr>";
                searchResults.innerHTML+="<p><a href='https://www.google.com/search?q="+result.value+"'>"+result.value+"</a></p>";
            })
            return;
            })
        }
            }
            
    </script>
    
</body>
</html>